<h1>Criar Tarefa</h1>
<form action="/tasks/add" method="post">
  <label for="text" name="title">Título</label>
  <input type="text" name="title">
  <label for="description">Descrição</label>
  <textarea name="description" style="resize: nome;" rows="3"></textarea>
  <input type="submit" value="Criar">
</form>